.red{
  background-color: red;
  height:1em;
}
.App-logo {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  animation: App-logo-in 1s alternate ;
  height: 3em;
  pointer-events: none;
}

.white{
  background-color: whitesmoke;
  height:1em;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid grey;
  margin-bottom: 1em;
}

section {
  /* position is static by default */
  margin-left: 250px;
}

.nav {
  position: absolute;
  left: 0px;
  width: 200px;
  margin-left : 10px;
}

@keyframes App-logo-in {
  from {
    height: 0em;
  }
  to {
    height: 3em;
  }
}